<%= form_for([@chat, @message]) do |form| %>
  <div class="row g-2 mb-4">
    <div class="col-auto">
      <%= form.text_field :body, class:'form-control form-control-lg', placeholder: 'Escribe un mensaje', style:'width:75vh' %>
    </div>
    <%= form.submit 'Enviar', class:'btn btn-lg btn-info' %>
  </div>
<% end %>
