<h1>Se ha aceptado tu solicitud de prorroga</h1>
<p>Se ha aceptado la solicitud de prorroga de la orden de entrega la cual ha quedado pactada para entregarse el dia <%= @extension_order.extension_date.strftime("%d/%m/%y")%></p>

<p>Ingresa a la plataforma para ver los detalles</p>