<h1>Solicitud de prórroga para la entrega de trabajo</h1>
<p>Estimado cliente, debido a razones de fuerza
mayor insuperable quisiera una prórroga de: <%=(@extension_order.extension_date - Date.today).to_i %> días, si rechazas la prórroga se
te asignará un nuevo profesional y todos los lapsos iniciarán de nuevo</p>

<p>Ingresa a la plataforma para ver los detalles</p>

<a href="https://specializedprofessionalsupport.herokuapp.com/users/sign_in">https://specializedprofessionalsupport.herokuapp.com/users/sign_in</a>