<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>Solicitar Prorroga</h1>

            <%= render 'form', extension_order: @extension_order %>
        </div>
    </div>
</div>


