<h2>Bienvenido a Utesis.com Latinoamérica</h2>

<p>Estimado cliente y amigo:</p>
<p>
    Nos complace darle la bienvenida a Utesis.com y al mismo tiempo le agradecemos la confianza puesta en nosotros. Esperamos poder servirle de la mejor forma y acompañarlo en esta etapa tan importante de su vida. Hemos recibido su contrato y pago respectivo y con gusto procederemos como corresponde. Para iniciar con el servicio contratado debe ingresar a nuestra plataforma con su mail y contraseña respectiva. <a href="https://specializedprofessionalsupport.herokuapp.com/users/sign_in">Inicio de sesión</a>

    <a href="https://specializedprofessionalsupport.herokuapp.com/users/sign_in">https://specializedprofessionalsupport.herokuapp.com/users/sign_in</a>

    (Si no logra ingresar a través de este enlace, por favor copie y pegue en algún navegador)
</p>

<p>
    Le recordamos que para el correcto desempeño de nuestra labor es vital que recopile únicamente los documentos que considere necesarios para realizar adecuadamente su trabajo solicitado (manual, instructivo o guía de elaboración de tema, plan o tesis o equivalente, avances, bibliografía, etc.) Si ya cuenta con algún avance deberá enviarlo en formato editable. Recuerde que es importante que envíe documentos sin nombres ni datos personales, sin datos universitarios ni ningún otro dato sensible (en caso contrario Utesis.com no garantiza la confidencialidad del servicio) Si ya tiene el nombre de la investigación no olvide agregarlo. 
</p>

<p>
    Atte.Equipo de Utesis.com Latinoamérica
</p>