<div class="container">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-xs-12 col-md-10">
      <h1>Carreras</h1>
      <p>Agreaga y maneja todas las carreras de la plataforma</p>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <% @careers.each do |career| %>
            <tr>
              <th scope="row"><%= career.id%></th>
              <td><%= career.name%></td>
              <td><%= link_to 'Editar', edit_career_path(career), class:'btn btn-outline-info'%></td>
            </tr>
          <% end %>
        </tbody>
      </table>
        <%= link_to 'Agregar carrera', new_career_path, class:'btn btn-info' %>
    </div>
  </div>
</div>



