<div class="container">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-xs-12 col-md-8">
            <h1>Crear una nueva orden de trabajo</h1>
            <%= render 'form', job_application: @job_application %>
        </div>
    </div>
</div>
