<div class="container">
    <div class="row d-flex justify-content-center p-4 card mt-4">
        <div class="col-xs-12 col-md-8">
            <h3>Generar nueva orden</h3>
            <%= render 'form', order: @order %>
        </div>
    </div>
</div>


