<h1>Se ha aceptado la solicitud de trabajo</h1>

<p>Ingresa a la plataforma y tendras acceso al chat</p>


<a href="https://specializedprofessionalsupport.herokuapp.com/users/sign_in">https://specializedprofessionalsupport.herokuapp.com/users/sign_in</a>