<h1>Nueva solicitud de trabajo</h1>

<ul>
    <li>Enviada por: <%= @job_application.user.name%></li>
    <li>Para: <%= @job_application.professional.name%></li>
</ul>

<p>Para mas información ingresa a la plataforma de Especializedprofessionalsupport.com</p>