<h1>Nueva solicitud de trabajo</h1>

<ul>
    <li>Enviada por: <%= @job_application.user.name%></li>
    <li>Para: <%= @job_application.professional.name%></li>
</ul>

<p>Para mas información ingresa a la plataforma dando click <%= link_to 'aquí', root_url %></p>
<a href="https://specializedprofessionalsupport.herokuapp.com/users/sign_in">https://specializedprofessionalsupport.herokuapp.com/users/sign_in</a>