<div class="container">
    <div class="row d-fle justify-content-center card p-4">
        <div class="col-xs-12">
            <h1>Crear un nuevo usuario</h1>
            <%= render 'form'%>    
        </div>
    </div>
</div>
